@import url(https://fonts.googleapis.com/css?family=Quicksand:500,700);
@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "ProximaNova", sans-serif;
	background-color: #333;
	color: #fff;
}

.section {
	width: 1320px;
	margin: 0 auto;
	margin-top: 20px;
}

.title1 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 25px;
	font-weight: 600;
}

.section1-photo {
	margin-bottom: 20px;
}

.section1-information1 p,
.section1-information2 ul {
	line-height: 1.8;
}

.section1-information1 p {
	margin-bottom: 10px;
}

.title2 {
	font-size: 18px;
	font-weight: 700;
	margin: 30px 0px;
}

.section1-information2 li {
	background-image: url("/img/Vector.png");
	background-repeat: no-repeat;
	padding-left: 47px;
}

.section1-information2 ul li {
	margin-bottom: 20px;
}

.title3 {
	margin: 30px 0px;
}

.title {
	line-height: 1.5;
}

.section2 {
	background-image: url("/img/Group162774.png");
	background-repeat: no-repeat;
	height: 530px;
	padding-top: 130px;
	padding-left: 102px;

	width: 1440px;
	margin: 0 auto;
	margin-top: 20px;

	font-family: "Quicksand", sans-serif;
}

.section2-information1 {
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 24px;
	font-weight: 700;
}

.section2-information2 {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 24px;
	font-weight: 500;
}

.section2-information3 {
	display: inline;
	font-weight: 700;
}

.section2-information3 a div {
	background-color: #fff;
	color: black;
	padding: 11.5px 20px;
	border-radius: 8px;
}